version: "3.8"

services:
  zookeeper:
    image: wurstmeister/zookeeper:latest
    ports:
      - "2181:2181"
    networks:
      - upload_network

  kafka:
    image: wurstmeister/kafka:latest
    ports:
      - "9092:9092"
    environment:
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_CREATE_TOPICS: "model-events:1:1"
    depends_on:
      - zookeeper
    networks:
      - upload_network

  db:
    image: postgres:13
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: uploaddb
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - upload_network

  upload_service:
    build: .
    ports:
      - "8001:8001"
    depends_on:
      db:
        condition: service_healthy
    environment:
      - DATABASE_URL=postgresql://postgres:password@db:5432/uploaddb
      - KAFKA_BROKER=kafka:9092
      - DEBUG=True
      - RECREATE_DB=True
    volumes:
      - ./app:/app/app
      - ./uploads:/app/uploads
      - ./models:/app/models
      - /var/run/docker.sock:/var/run/docker.sock  # Mount Docker socket
    restart: unless-stopped
    networks:
      - upload_network

volumes:
  db_data:

networks:
  upload_network:
    driver: bridge